body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: 0;
    padding: 10px;
    background-color: #7442c8; /* Purple background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff; /* White text color */
}

h1 {
    text-align: center;
}

.player {
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    color: #7442c8; /* Purple text color */
}

.player p {
    margin-bottom: 5px;
}

progress {
    width: 100%;
    height: 100px; /* Adjust the height to make the progress bar thicker */
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #9c6fd8; /* Lighter purple button background color */
    color: #fff; /* White text color */
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

button:hover {
    background-color: #7442c8; /* Slightly darker purple color on hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Increase shadow effect on hover */
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.friend-list {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 5px;
    }

    .player {
        margin-bottom: 10px;
    }

    progress {
        height: 50px;
    }

    input[type="text"] {
        padding: 5px;
    }
}
